<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160119134536-n2gtmsf72rhr1kcmu5427i800i4qah2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160119134536-n2gtmsf72rhr1kcmu5427i800i4qah2c</string>
	<key>API_KEY</key>
	<string>AIzaSyCxeYSOCzGtYOIfx0fCAbNpvb2IiFJ0wFM</string>
	<key>GCM_SENDER_ID</key>
	<string>160119134536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Safeyah.Vincent</string>
	<key>PROJECT_ID</key>
	<string>artapp-2ef8e</string>
	<key>STORAGE_BUCKET</key>
	<string>artapp-2ef8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160119134536:ios:640ef13828e3b7d04bfb7d</string>
	<key>DATABASE_URL</key>
	<string>https://artapp-2ef8e.firebaseio.com</string>
</dict>
</plist>